target/.generated/
gwt-unitCache/
.settings/com.google.appengine.eclipse.core.prefs
target/gwt-polymer-0.0.1-SNAPSHOT/
.settings/com.google.gdt.eclipse.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.wst.common.component
target/m2e-wtp/web-resources/META-INF/maven/
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
.settings/org.eclipse.wst.common.component
.project
.classpath
target/gwt-polymer-0.0.1-SNAPSHOT/App.html
target/gwt-polymer-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF
src/main/webapp/bower_components/
target/*jar
target/*war
.settings/org.eclipse.jdt.ui.prefs
.settings/org.eclipse.wst.jsdt.ui.prefs
target/*
/target/
